@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");
@import "tailwindcss";

:root {
    /* Slate 600 */
    --accent: oklch(44.6% 0.043 257.281);
}

html, body {
    @apply font-sans;
}

.bg-accent { background-color: var(--accent); }
.text-accent { color: var(--accent); }
.border-accent { border-color: var(--accent); }
